main {
    .productos-destacados {
    section {
      background-image: url(../img/dragon_color_shift.gif);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      padding: 20px 0;
      margin-bottom: 20px;
      margin: 20px auto;
    }

      h2 {
        font-size: 30px;
        margin-bottom: 20px;
        color: white;
        text-align: center;
      }
    }
    .containerdest {
      display: grid;
      grid-template-columns: (3, 1fr);
      grid-template-rows: (auto);
      grid-template-areas:
        "des1 des2 des3"
        "des4 des5 des6";
      gap: 20px;
      width: 80%;
      margin: 20px auto;

      [class^="des"] {
        background-color: white;
        justify-content: center;
        gap: 30px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
        h3 {
          font-size: 20px;
          margin-top: 10px;
        }
        p {
          font-size: 16px;
          margin-top: 5px;
          color: black;
        }
        span {
          font-size: 18px;
          color: rgb(0, 0, 0);
          margin-top: 10px;
          display: block;
          font-weight: bold;
        }
        button {
          margin-top: 15px;
          padding: 10px 15px;
          background-color: #00b7ff;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
