footer {
  background-image: url(../img/banner1.png);
  color: white;
  text-align: center;
  padding: 20px 0;
  p {
    margin: 0;
    font-size: 14px;
  }
  a {
    color: #00b7ff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
